body{
    background-color: #040710;
    overflow: hidden;
}
h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
h3{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.particle_background{
    position: absolute;
    top: 0;
    left: 0;

    height: 100vw;
}
